body {
	height: 100%
  background: #202a2e;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(10, 12, 14)),
      color-stop(1, rgb(6, 38, 51))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(10, 12, 14) 0%,
      rgb(6, 38, 51) 100%
  );
  background-attachment: fixed !important;

}
.stage{
	background-color: #111133;
	width:600px;
	height:600px;
	border: 1px solid #334455;
	position: relative;
}

.firefly{
	position: absolute;
	
	fill: #ffdd22;
}

.firefly text{
	text-anchor: middle; 
}

.direction{
	display:none;
	stroke: black;
}

.show-direction .direction{
	display:block;
}

canvas {
  border: 1px solid #445566;
border-radius: 10px;
margin: 10px;
}