body {
	background-color: #000000;
}
.stage{
	background-color: #111133;
	width:600px;
	height:600px;
	border: 1px solid #334455;
	position: relative;
}

.firefly{
	position: absolute;
	
	fill: #ffdd22;
}

.firefly text{
	text-anchor: middle; 
}

.direction{
	display:none;
	stroke: black;
}

.show-direction .direction{
	display:block;
}